.app-container {
	margin-top: 50px;
}

.app-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bolder;
  background:  radial-gradient(422px at -10.3% 110.7%, rgb(219, 76, 180) 9.5%, rgb(231, 119, 209) 50.8%, rgb(255, 180, 241) 88.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.input-field {
	font-size: 1.2rem;
	border-radius: 0.25rem;
	padding: 10px;
}

.add-button {
	width: 100%;
	font-size: 1.2rem;
	border-radius: 0.25rem;
  border: none;
	padding: 10px;
  /* color: black; */
  font-weight: 500;
  background:  radial-gradient(422px at -10.3% 110.7%, rgb(219, 76, 180) 9.5%, rgb(231, 119, 209) 50.8%, rgb(255, 180, 241) 88.5%);;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	margin-bottom: 10px;
	padding: 10px;
}

.todo-item span {
	display: flex;
	align-items: center;
}

.todo-item button {
	font-size: 1rem;
}
